.vscode/
.idea/
node_modules/
.nyc_output
coverage/
dump.rdb
documentation
CONTRIBUTING.md
CODE_OF_CONDUCT.md
TODO.md
GOALS.md
tsconfig.json
.nycrc.json
benchmark/
.github/
scripts/
lib/
index.ts
*.spec.*
