pid = __dirname/stunnel.pid
output = __dirname/stunnel.log
CAfile = __dirname/redis.js.org.cert
cert = __dirname/redis.js.org.cert
key = __dirname/redis.js.org.key
client = no
foreground = yes
debug = 7
[redis]
accept = 127.0.0.1:6380
connect = 127.0.0.1:6379
